﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyFirstView</title>
</head>
<body>
    <div>
        <p>
            @ViewBag.CurrentTime This is the homepage!
        </p>
        <a asp-action="SupervisorList">
           List of supervisors
        </a>
    </div>
</body>
</html>
