﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CoachInfo</title>
</head>
@model List<Task24.Models.Supervisor>
<body>
    <div>
        <h1>
            List of supervisors!!

        </h1>

        @foreach (var supervisor in Model)
        {
            <div>
                @supervisor.Name
                <hr />
            </div>
        }
    </div>
</body>
</html>
